@import "../../styles/tokens.css";

.nav-header {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: calc(100% - 48px);
  max-width: 1200px;
  border-radius: 14px;
  border: 1px rgba(61, 64, 91, 0.6);
  background: rgba(61, 64, 91, 0.6);
  box-shadow: 0 2px 12px 0 var(--color-shadow);
  isolation: isolate;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 52px;
}

.nav-center {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-tab-group {
  display: flex;
  align-items: center;
  gap: 2px;
  /* background: rgba(255, 255, 255, 0.06); */
  border-radius: 8px;
  padding: 3px;
  border: 0.5px solid rgba(224, 122, 87, 0.5);
}

.nav-tab {
  font-family: "DM Mono", monospace;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-yellow);
  padding: 5px 16px;
  border-radius: 6px;
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.nav-tab.active {
  background: var(--color-indigo);
  color: var(--color-accent);
  /* border: 0.5px solid var(--color-neutral); */
}

.nav-socials {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--color-yellow);
}

.nav-socials a {
  display: flex;
  align-items: center;
  color: var(--color-yellow);
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-socials a:hover {
  color: var(--color-warm-white);
}

.nav-hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--color-yellow);
  cursor: pointer;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.nav-dropdown {
  position: fixed;
  top: 76px;
  right: 24px;
  width: fit-content;
  min-width: 160px;
  background: rgba(61, 64, 91, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0 0 14px 14px;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 24px 24px;
  gap: 4px;
  z-index: 99;
}

.nav-dropdown-link {
  font-family: var(--font-mono);
  font-size: 1rem;
  color: var(--color-yellow);
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.2s ease;
}

.nav-dropdown-link:hover {
  color: var(--color-warm-white);
}

.nav-backdrop {
  position: fixed;
  inset: 0;
  z-index: 98;
}

@media (max-width: 800px) {
  .nav-header {
    width: calc(100% - 48px);
    top: 12px;
  }

  .nav-inner {
    padding: 0 16px;
  }

  .nav-center {
    display: none;
  }

  .nav-socials {
    display: none;
  }

  .nav-hamburger {
    display: flex;
  }
}
